.cajaAboutUs {
    justify-items: center;
}

.tituloAboutUs {
    color: #f24405;
    font-size: 30px;
    text-align: center;
}

.abcAbout{
    border: none;
    background: transparent;
    position: relative;
    bottom: 220px;
}

.titleSelectAbout {
    color: #f24405;
    font-size: 30px;
    text-align: center;
}

.flex-containerAbout {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
}

.flex-containerAbout > div {
  background-color: #f1f1f1;
  width: 300px;
  height: 300px;
  margin: 50px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

.buttonCatAbout {
	box-shadow: 3px 4px 0px 0px #46218f;
	background:linear-gradient(to bottom, #5936d7 5%, #783cf8 100%);
	background-color:#5936d7;
	border-radius:18px;
	border:1px solid #461fd1;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:7px 40px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f0681;
}
.buttonCatAbout:hover {
	background:linear-gradient(to bottom, #783cf8 5%, #461fd1 100%);
	background-color:#783cf8;
}



.containerXAbout {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}

.buttonXAbout {
  box-shadow: 3px 4px 0px 0px #8a2a21;
	background:linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
	background-color:#c62d1f;
	border-radius:18px;
	border:1px solid #d02718;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:12px;
	padding:5px 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
  margin-right: 38px;
}

.buttonXAbout:hover {
  background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
	background-color:#f24437;
}







/*Paleta de colores usada*/

.color1 {color: #000000;}
.color2 {color: #ffffff;}
.color3 {color: #feffdf;}
.color4 {color: #ffde59;}
.color5 {color: #ffbd59;}
.color6 {color: #ff914d;}
.color7 {color: #f24405;}
.color8 {color: #ff5757;}
.color9 {color: #f24405;}
.color10 {color: #e7191f;}
.color11 {color: #8c52ff;}