.cajaAboutUs {
    justify-items: center;
}

.tituloAboutUs {
    color: #f24405;
    font-size: 30px;
    text-align: center;
}

.abcAbout{
    border: none;
    background: transparent;
    position: relative;
    bottom: 220px;
}

.titleSelectAbout {
    color: #f24405;
    font-size: 30px;
    text-align: center;
}

.flex-containerAbout {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
}

.flex-containerAbout > div {
  background-color: #f1f1f1;
  width: 300px;
  height: 300px;
  margin: 50px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

.myButtonAbout {
	box-shadow: 3px 4px 0px 0px #220264;
	background:linear-gradient(to bottom, #5936d7 5%, #6a2af5 100%);
	background-color:#5936d7;
	border-radius:18px;
	border:1px solid #4318d0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:7px 40px;
	text-decoration:none;
	text-shadow:0px 1px 0px #220264;
}
.myButtonAbout:hover {
	background:linear-gradient(to bottom, #6a2af5 5%, #5936d7 100%);
	background-color:#6a2af5;
}



.logout-container {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}

.logout-button {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logout-button:hover {
  background-color: #cc0000;
}





/*Paleta de colores usada*/

.color1 {color: #000000;}
.color2 {color: #ffffff;}
.color3 {color: #feffdf;}
.color4 {color: #ffde59;}
.color5 {color: #ffbd59;}
.color6 {color: #ff914d;}
.color7 {color: #f24405;}
.color8 {color: #ff5757;}
.color9 {color: #f24405;}
.color10 {color: #e7191f;}
.color11 {color: #8c52ff;}