.cajaAccessLikeLog {
    justify-items: center;
}

.tituloAccessLikeLog {
    color: #8c52ff;
}

.abc{
    border: none;
    background: transparent;
    position: relative;
    bottom: 220px;
}

.titleSelectCat {
    display: flex;
    justify-items: center;
    color: #8c52ff;
}

.flex-container {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
}

.flex-container > div {
  background-color: #f1f1f1;
  width: 300px;
  height: 300px;
  margin: 50px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

.myButton {
	box-shadow: 3px 4px 0px 0px #8a2a21;
	background:linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
	background-color:#c62d1f;
	border-radius:18px;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:7px 40px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
    

}
.myButton:hover {
	background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
	background-color:#f24437;
}
.myButton:active {
	position:absolute;
    top: 1px;
    justify-items: center;
    
}


/*Paleta de colores usada*/

.color1 {color: #000000;}
.color2 {color: #ffffff;}
.color3 {color: #feffdf;}
.color4 {color: #ffde59;}
.color5 {color: #ffbd59;}
.color6 {color: #ff914d;}
.color7 {color: #f24405;}
.color8 {color: #ff5757;}
.color9 {color: #f24405;}
.color10 {color: #e7191f;}
.color11 {color: #8c52ff;}