.flex-containerF {
    display: flex;
    flex-wrap: wrap;
    background-color: #8c52ff;
    place-content: center;
    color: #ffffff;
    cursor: pointer;
    text-decoration: none;
    list-style-type: none;
  }
  
  .flex-containerF > div {
    background-color: #8c52ff;
    width: 160px;
    margin: 20px;
    line-height: 20px;
    font-size: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  li :visited {
    color: #F24405;
  }

  .titleFooterH {
    font-size: 16px;
    text-decoration: none;
    color: #ffffff;
  }

  .titleFooter {
    font-size: 14px;
    list-style-type: none;
    text-decoration: none;
    color: #ffffff;
  }




/*Paleta de colores usada*/

.color1 {color: #000000;}
.color2 {color: #ffffff;}
.color3 {color: #feffdf;}
.color4 {color: #ffde59;}
.color5 {color: #ffbd59;}
.color6 {color: #ff914d;}
.color7 {color: #f24405;}
.color8 {color: #ff5757;}
.color9 {color: #f24405;}
.color10 {color: #e7191f;}
.color11 {color: #8c52ff;}