.tituloAdmin {
    font-size: 50px;
    color: #8c52ff;
    padding-top: 110px;
    text-align: center;
}

.buscador {
    font-size: 20px;
}

.filtrador {
    background-color: #F24405;
    border-radius: 20px;
    cursor: pointer;
    width: 100px;
    padding: 5px;
    transition: all .3s ease-in-out;
    text-align: center;
    color: #ffffff;
}

/*Paleta de colores usada*/

.color1 {color: #000000;}
.color2 {color: #ffffff;}
.color3 {color: #feffdf;}
.color4 {color: #ffde59;}
.color5 {color: #ffbd59;}
.color6 {color: #ff914d;}
.color7 {color: #f24405;}
.color8 {color: #ff5757;}
.color9 {color: #f24405;}
.color10 {color: #e7191f;}
.color11 {color: #8c52ff;}